body {
  margin: 0;
  background-color: #9dbaf2;
  color: #333;
  line-height: 1.5;
}
#paaer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001e59;
  padding: 0.4rem;
  color: white;
}
.paa {
  margin: 0;
  padding: 7px;
  display: flex;
  gap: 1.5rem;
  background-color: #9dbaf2;
  border-radius: 10px;
  font-family: garamond, Sans-Serif;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px dotted #0039ab;
}
.size {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001e59;
  padding: 0.4rem;
  color: white;
}
.navbar1 {
  display: flex;
  align-items: center;
  background-color: #0039ab;
  padding: 1rem;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 7px;
  display: flex;
  gap: 1.5rem;
  background-color: #0039ab;
  border-radius: 10px;
  font-family: garamond, Sans-Serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-links a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #001e59;
  transform: scale(1.08);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  z-index: 2;
  font-weight: bold;
  border-radius: 20px;
  color: #9ebeff;
}

.banner {
  text-align: center;
  padding: 3rem;
  background: url('https://png.pngtree.com/thumb_back/fh260/background/20240912/pngtree-close-up-of-camera-lens-image_16167235.jpg') no-repeat center center;
  background-size: cover;
  font-family: helvetica;
  letter-spacing: 2px;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 0;
}

.banner h1, .banner p {
  position: relative;
  z-index: 1;
  color: white;
}


.banner1 {
  text-align: center;
  padding: 2rem;
  background: ;
}

.welcome {
  margin: 0.5rem;
  padding: 1rem;
  border: 3px dashed #082254;
  border-radius: 20px;
  background: rgba(65, 75, 94, 0.6);
  color: white;
  text-align: justify;
  font-family: helvetica;
  letter-spacing: -0.4px;
  word-spacing: 3px;
}

.ib {
  font-style: italic;
  font-weight: bold;
}
.i {
  font-style: italic;
}
.b {
  font-weight: bold;
}
iframe {
  display: block;
  margin: 0 auto;
}
.iframe {
   background-color: #001e59;
   border: 50px solid #0039ab;
}
